* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95%;
    position: absolute;
}
input {
    width: 90%;
    
}
.controls {

    float: left;
    width: 20%;
    min-width: 100px;
    padding: 15px;
}

.universe {
    float: left;
    width: 80%;
    margin: 0;
    padding: 0;
    height: 100%;
}
#c {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   border: 1px solid gray;
}
#backcanvas {
    width: 100%;
    height: 100%;
}

.body-controls, .body-parameters, .general-parameters, .general-controls {
    margin-bottom: 15px;
}
fieldset {
    padding: 8px;
}
legend {
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
label {
    font-weight: bold;
    display: block;
    font-size: small;
}
.field {
    float:left;
    width: 50%;
}
.field.distance-scale {
    width: 100%;
    clear: both;
    float: none;
}
.field.distance-scale>input {
    display: inline-block;
    width: auto;
}
.field.field-diameter {
    clear: both;
}

.field.field-gravity {
    height: 40px;
}

.data-info>div {
    float: left;
    height: 30px;
    width: 20%;
    padding: 10px 0 10px 0;
}
.parameters-actions {
    float: left;
    margin-top: 20px;
    clear: both;
}
.data-info>div>span:first-child {
    font-weight: bold;
}
