
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    position: relative;
    margin: 0;
    padding: 0;

}
.controls {

    float: left;
    width: 20%;
    min-width: 100px;
}

.universe {

    float: left;
    width: 80%;
    margin: 0;
    padding: 0;
}
#c {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

#backcanvas {
    width: 100%;
    height: 100%;
}