body {
    box-sizing: border-box;
    font-size: 14px;
    position: relative;

}
.controls {

    float: left;
    width: 20%;
    min-width: 100px;
}

.universe {

    float: left;
    width: 80%;
}